.card-body:hover{
  background-color:  rgb(7, 7, 116);
  color: white;
  
}
.mb-6 {
  font-family: Georgia;
  /* font-size: 250%; */
  font-weight: bolder;
}
.mb-8 {
  font-family: Georgia;
  /* font-size: 250%; */
  font-weight: bold;
}
.mb-9 {
  font-family: Georgia;
  /* font-size: 250%; */
  font-weight: bold;
}
.mb-10 {
  font-family: Georgia;
  /* font-size: 250%; */
  font-weight: bold;
}
.mb-8 {
  font-family: Georgia;
  /* font-size: 250%; */
  font-weight: bold;
}
.mb-11 {
  font-family: Georgia;
  /* font-weight: bold; */
  font-size: 130%;
  /* font-weight: bold; */
}

.text-primary {
  font-size: 200%;
  font-weight: bold;
  color: black !important;
}
.he {
  font-weight: bold;
  font-size: 28px;
}
.mb-5 {
  font-family: Georgia;
  /* font-weight: bold; */
  /* font-size: 250%; */
  /* font-weight: bold; */
}

@media (max-width: 480px) {

  .mb-6{
    font-size: 22px;
  }
  .mb-8{
    font-size: 22px;
  }
  .mb-10{
    font-size: 22px;
  }
  .he {
    font-weight: bold;
    font-size: 25px;
  }
  .text-primary {
    font-size: 33px;
    font-weight: bold;
    color: black !important;
  }
}