
    .HeaderMainDiv {
        background-color: rgb(7, 7, 116) !important;
        color: white;
        display: flex;
        justify-content: space-between;
    }
    .HeaderNavbarBrand {
        color: white !important;
        align-items: center;
    }

    .HeaderLogo {
        height: 80px;
        width: 63px;
        background-image: url(../assets/logo.png);
        background-size: contain;
        left: 50px;
    }
    .HeaderNavlinks {
        color: white !important;
        font-family: Georgia;
        font-weight: bold;
        text-align: center;
        line-height: 50px;
        letter-spacing: 1px;
        font-size: large;
    } 
    .HeaderNavlinks:hover{
        color: rgb(200, 200, 200) !important;
    }
    .Header_Contacts{
        font-family: Georgia, 'Times New Roman', Times, serif;
        display: flex;
        justify-content: center;
        background: rgb(85, 153, 30);
        color: white;
        padding: 1px 0px;
        font-size: 17px;
        text-align: end;
    }

    
    .otstup{
        color: rgb(85, 153, 30);
        margin-bottom: 0;
    }
    .otstup1{
        justify-content: flex-start;
    }


    .sch{
        margin: 0;
        justify-content: end !important;
    }

    .mr-auto {
        word-spacing: 5px;
    }

    #basic-nav-dropdown {
        color: white !important;

    } 

    .navbar{
        padding: 8px !important;
    }

    .nav{
        justify-content: space-between;
    }

    .imgcarousel{
        height: 700px;
        display: table-cell;
        vertical-align: bottom;
        background-color: black;
        color: rgb(0, 0, 0);
    }


    .txt1 {
        position: relative;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        color: rgb(247, 242, 242);
        font-size: 35px;

    }
    .txt2 {
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 40px;
        color: rgb(255, 255, 255);
    }

    .txt3 {
        font-family: 'Times New Roman', Times, serif;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 40px;
    }

    .NavDropDown {
        font-family: Georgia;
        font-weight: bold;
        text-align: center;
        line-height: 50px;
    }

    .pod{
        font-size: larger;
    }

    .NavDropDown:hover .dropdown-menu{
        transition: 0.5s !important;
        font-family: Georgia;
        font-weight: bold;
    }

    .dropdown-menu{
        background-color:  rgb(7, 7, 116) !important;
        color: white;
        opacity: 0.9;
    }



    span{
        margin: 0px;
        padding: 0px;
    }
    .row{
        display: flex;
        flex-direction: row;
    }
    .jcb{
        display: flex;
        justify-content: space-between;
    }
    .calculate{
        width: 700px;
        background: #f0f0f0;
        padding: 0px;
    }
    .calculate__result{
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    .calculate__form{
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
    }
    .btn_calculate{
        padding: 0px;
        padding: 3px;
        font-size: 20px;
        font-weight: 600;
        color: white;
        border:none;
        border-radius: 4px;
        background: #949494;
        outline: none;
        border: rgb(219, 56, 16) 2px solid;
    }
    .currency{
        color: red;
    }

    .h2-responsive{
        color: rgb(255, 255, 255);
    }

    @media (max-width: 900px) { 
        .calculate{
            width: 500px;
        }
        .calculate__form{
            display: flex;
            flex-direction: row;
            padding: 20px;
        }
        .calc_result{
            display: flex;
            flex-direction: column;
        }
    }
    @media (max-width: 500px) { 
        .calculate{
            width: 300px;
        }
        .calculate__form{
            display: flex;
            flex-direction: column;
            padding: 20px;
        }
        .calc_result{
            display: flex;
            flex-direction: column;
        }
    }


@media (max-width: 480px) {
    .HeaderMainDiv {
        background-color: rgb(7, 7, 116) !important;
        color: white;
        display: flex;
    }

    .HeaderNavbarBrand {

    }

    .HeaderLogo {
        height: 48px;
        width: 37px;
        background-image: url(../assets/logo.png);
        background-size: contain;
        }
    .HeaderNavlinks {
        color: white !important;
        font-family: Georgia;
        font-weight: bold;
        line-height: 10px;
        font-size: xx-small;
    } 
    .HeaderNavlinks:hover{
        color: rgb(200, 200, 200) !important;
    }
    .Header_Contacts{
        font-family: Georgia, 'Times New Roman', Times, serif;
        display: flex;
        justify-content: start;
        background: rgb(85, 153, 30);
        color: white;
        padding: 1px 0px;
        width: 100%;
    }


    .otstup{
        color: rgb(85, 153, 30);
        font-size: 2px;
    }
    .otstupo{
        color: rgb(85, 153, 30);
        font-size: 0px;
    }

    .otstup1{
        justify-content: flex-start;
        font-size: 10px;
    }

    .sch{
        justify-content: end !important;
        font-size: 10px;
    }

    #basic-nav-dropdown {
        color: white !important;
    } 

    .navbar{
        padding: 4px !important;
    }

    .nav{
        justify-content: start;
    }

    .imgcarousel{
        height: 300px;
        display: table-cell;
        vertical-align: bottom;
        background-color: black;
        color: rgb(0, 0, 0);
    }


    .txt1 {
        position: relative;
        font-family: 'Times New Roman', Times, serif;
        /* font-weight: bold; */
        color: rgb(255, 255, 255);
        font-size: 12px;
    }

    .txt2 {
        font-family: 'Times New Roman', Times, serif;
        /* font-weight: bold; */
        font-size: 12px;
        color:rgb(255, 255, 255);
    }
    
    .txt3 {
        font-family: 'Times New Roman', Times, serif;
        color: rgb(255, 255, 255);
        /* font-weight: bold; */
        font-size: 12px;
    }
    
    .backph{
        /* opacity: 50%; */
    }

    .NavDropDown {
        font-family: Georgia;
        text-align: center;
        line-height: 10px;
    }

    .pod{
        font-size: x-small;
    }

    .NavDropDown:hover .dropdown-menu{
        transition: 0.5s !important;
        font-family: Georgia;
        font-weight: bold;
    }

    .dropdown-menu{
        background-color:  rgb(7, 7, 116) !important;
        color: white;
        opacity: 0.9;
    }

    .row{
        display: flex;
        flex-direction: row;
    }
    .jcb{
        display: flex;
        justify-content: space-between;
    }
    .calculate{
        width: 300px;
        background: #f0f0f0;
    }
    .calculate__result{
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    .calculate__form{
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
    }
    .btn_calculate{
        padding: 4px;
        font-size: 20px;
        font-weight: bold;
        color: white;
        border:none;
        border-radius: 4px;
        background: #949494;
        outline: none;
        border: rgb(219, 56, 16) 2px solid;
    }
    .currency{
        color: red;
    }

    .h2-responsive{
        color: rgb(255, 255, 255);
    }

    @media (max-width: 900px) { 
        .calculate{
            width: 500px;
        }
        .calculate__form{
            display: flex;
            flex-direction: row;
            padding: 20px;
        }
        .calc_result{
            display: flex;
            flex-direction: column;
        }
    }
    @media (max-width: 500px) { 
        .calculate{
            width: 400px;
        }
        .calculate__form{
            display: flex;
            flex-direction: column;
            padding: 20px;
        }
        .calc_result{
            display: flex;
            flex-direction: column;
        }
    }
}
