/* @media screen and (color) {  */
/* @media (max-width: 2000px) { */
    .d-flex{
        
    }
    .HeaderMainDiv {
        background-color: rgb(7, 7, 116) !important;
        /* background-color: rgb(4, 141, 88) !important; */
        color: white;
        display: flex;
        justify-content: space-between;
    }
    .HeaderNavbarBrand {
        color: white !important;
        align-items: center;
    }

    .HeaderLogo {
        height: 80px;
        width: 63px;
        background-image: url(../assets/logo.png);
        background-size: contain;
        left: 50px;
    }
    .HeaderNavlinks {
        color: white !important;
        /* height: 100px; */
        /* width: 150px; */
        font-family: Georgia;
        font-weight: bold;
        text-align: center;
        line-height: 50px;
        /* left: 50%; */
        /* transform: scale !important; */
        /* line-break: 20%; */
        /* padding: 100%; */
        /* line-clamp: 50px; */
        letter-spacing: 1px;
        font-size: large;
    } 
    .HeaderNavlinks:hover{
        color: rgb(200, 200, 200) !important;
    }
    .Header_Contacts{
        font-family: Georgia, 'Times New Roman', Times, serif;
        display: flex;
        justify-content: center;
        background: rgb(85, 153, 30);
        color: white;
        padding: 1px 0px;
        font-size: 17px;
        text-align: end;
        /* padding: 100%; */
    }

    
    .otstup{
        /* color: rgb(0, 0, 0); */
        color: rgb(85, 153, 30);
        margin-bottom: 0;
    }
    .otstup1{
        justify-content: flex-start;
    }


    .sch{
        margin: 0;
        justify-content: end !important;
    }

    .mr-auto {
        word-spacing: 5px;
    }

    #basic-nav-dropdown {
        color: white !important;

    } 

    .navbar{
        /* margin: 0 !important; */
        padding: 8px !important;
        /* width: 100%; */
        /* display: flex; */
        /* flex-direction: row; */
        /* background-color: rgba(29, 28, 28, 0.856); */
    }
    .nav{
        justify-content: space-between;
    }

    .imgcarousel{
        height: 700px;
        display: table-cell;
        vertical-align: bottom;
        /* width: 600px; */
        background-color: black;
        color: rgb(0, 0, 0);
    }


    .txt1 {
        position: relative;
        /* width: 100%; */
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        /* text-shadow:0 0 20px #ff0; */
        color: rgb(247, 242, 242);
        font-size: 35px;

    }
    .txt2 {
        font-family: 'Times New Roman', Times, serif;
        /* color: rgb(0, 0, 0); */
        font-weight: bold;
        font-size: 40px;
        /* text-shadow:0 0 20px #ff0; */
        color: rgb(255, 255, 255);
        /* text-shadow: 0 0 10px rgba(255,255,0,0.3), 0 0 6px rgba(255,255,0,0.4), 0 0 10px rgba(255,255,0,0.3); */
    }
    .txt3 {
        font-family: 'Times New Roman', Times, serif;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 40px;
        /* text-shadow: 0 0 10px rgba(255,255,0,0.3), 0 0 6px rgba(255,255,0,0.4), 0 0 10px rgba(255,255,0,0.3); */
    }

    .NavDropDown {
        font-family: Georgia;
        font-weight: bold;
        text-align: center;
        line-height: 50px;
        
    }

    .pod{
        font-size: larger;
    }

    .NavDropDown:hover .dropdown-menu{
        transition: 0.5s !important;
        font-family: Georgia;
        font-weight: bold;
    }

    .dropdown-menu{
        background-color:  rgb(7, 7, 116) !important;
        /* border: none !important; */
        color: white;
        opacity: 0.9;
    }



    span:{
        margin: 0px;
        padding: 0px;
    }
    .row{
        display: flex;
        flex-direction: row;
    }
    .jcb{
        display: flex;
        justify-content: space-between;
    }
    .calculate{
        width: 700px;
        background: #f0f0f0;
        padding: 0px;
    }
    .calculate__result{
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    .calculate__form{
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
    }
    .btn_calculate{
        padding: 0px;
        padding: 3px;
        font-size: 20px;
        font-weight: 600;
        color: white;
        border:none;
        border-radius: 4px;
        background: #949494;
        outline: none;
        border: rgb(219, 56, 16) 2px solid;
    }
    .currency{
        color: red;
    }

    .h2-responsive{
        color: rgb(255, 255, 255);
    }

    @media (max-width: 900px) { 
        .calculate{
            width: 500px;
        }
        .calculate__form{
            display: flex;
            flex-direction: row;
            padding: 20px;
        }
        .calc_result{
            display: flex;
            flex-direction: column;
        }
    }
    @media (max-width: 500px) { 
        .calculate{
            width: 300px;
        }
        .calculate__form{
            display: flex;
            flex-direction: column;
            padding: 20px;
        }
        .calc_result{
            display: flex;
            flex-direction: column;
        }
    }


@media (max-width: 480px) {
    .fixed-top{
        /* margin: 0; */
        /* padding: 20px; */
    }
    .HeaderMainDiv {
        background-color: rgb(7, 7, 116) !important;
        color: white;
        display: flex;
        /* justify-content: space-between; */
        /* width: 100%; */
        /* height: 100%; */
    }
    .HeaderNavbarBrand {
        /* color: white !important; */
        /* align-items: start !important; */
        /* margin-left: start; */
    }

    .HeaderLogo {
        height: 48px;
        width: 37px;
        background-image: url(../assets/logo.png);
        background-size: contain;
        /* left: 50px; */
        /* justify-content: start; */
        /* position: static;
        left: 110px; */
        }
    .HeaderNavlinks {
        color: white !important;
        font-family: Georgia;
        font-weight: bold;
        /* text-align: center; */
        line-height: 10px;
        font-size: xx-small;
    } 
    .HeaderNavlinks:hover{
        color: rgb(200, 200, 200) !important;
    }
    .Header_Contacts{
        font-family: Georgia, 'Times New Roman', Times, serif;
        display: flex;
        justify-content: start;
        background: rgb(85, 153, 30);
        color: white;
        padding: 1px 0px;
        /* font-size: 8px; */
        /* text-align: end; */
        width: 100%;
    }


    .otstup{
        color: rgb(85, 153, 30);
        font-size: 2px;
    }
    .otstupo{
        color: rgb(85, 153, 30);
        font-size: 0px;
    }

    .otstup1{
        justify-content: flex-start;
        font-size: 10px;
    }

    .sch{
        justify-content: end !important;
        font-size: 10px;
    }

    #basic-nav-dropdown {
        color: white !important;
    } 

    .navbar{
        padding: 4px !important;
    }

    .nav{
        justify-content: start;
        /* position: absolute; */
        /* text-align: start; */

    }

    .imgcarousel{
        height: 300px;
        display: table-cell;
        vertical-align: bottom;
        background-color: black;
        color: rgb(0, 0, 0);
    }


    .txt1 {
        position: relative;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        color: rgb(34, 255, 5);
        font-size: 15px;

    }
    .txt2 {
        font-family: 'Times New Roman', Times, serif;
        /* color: rgb(0, 0, 0); */
        font-weight: bold;
        font-size: 15px;
        /* text-shadow:0 0 20px #ff0; */
        color:rgb(34, 255, 5);
        /* text-shadow: 0 0 10px rgba(255,255,0,0.3), 0 0 6px rgba(255,255,0,0.4), 0 0 10px rgba(255,255,0,0.3); */
    }
    .txt3 {
        font-family: 'Times New Roman', Times, serif;
        color: rgb(34, 255, 5);
        font-weight: bold;
        font-size: 15px;
        /* text-shadow: 0 0 10px rgba(255,255,0,0.3), 0 0 6px rgba(255,255,0,0.4), 0 0 10px rgba(255,255,0,0.3); */
    }

    .NavDropDown {
        font-family: Georgia;
        /* font-weight: ; */
        text-align: center;
        line-height: 10px;
        /* font-size: xx-small !important; */
    }

    .pod{
        font-size: x-small;
    }

    .NavDropDown:hover .dropdown-menu{
        transition: 0.5s !important;
        font-family: Georgia;
        font-weight: bold;
    }

    .dropdown-menu{
        background-color:  rgb(7, 7, 116) !important;
        /* border: none !important; */
        color: white;
        opacity: 0.9;
    }

    .row{
        display: flex;
        flex-direction: row;
    }
    .jcb{
        display: flex;
        justify-content: space-between;
    }
    .calculate{
        width: 300px;
        background: #f0f0f0;
    }
    .calculate__result{
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    .calculate__form{
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
    }
    .btn_calculate{
        padding: 0px;
        padding: 3px;
        font-size: 10px;
        font-weight: 300;
        color: white;
        border:none;
        border-radius: 4px;
        background: #949494;
        outline: none;
        border: rgb(219, 56, 16) 2px solid;
    }
    .currency{
        color: red;
    }

    .h2-responsive{
        color: rgb(255, 255, 255);
    }

    @media (max-width: 900px) { 
        .calculate{
            width: 500px;
        }
        .calculate__form{
            display: flex;
            flex-direction: row;
            padding: 20px;
        }
        .calc_result{
            display: flex;
            flex-direction: column;
        }
    }
    @media (max-width: 500px) { 
        .calculate{
            width: 400px;
        }
        .calculate__form{
            display: flex;
            flex-direction: column;
            padding: 20px;
        }
        .calc_result{
            display: flex;
            flex-direction: column;
        }
    }
}


.header-menu{
    padding: 10px;
}

.d-flex{
    /* justify-content: start; */
}
